.css_nganhnghe {

}
.css_nganhnghe  h1{
background:none repeat scroll 0 0 PowderBlue;
color:#333333;
font-family:arial;
font-size:13px;
margin-bottom:3px;
margin-top:3px;
padding:0 0 0 10px;
}
.css_nganhnghe table.rc_tableLists{

}
.css_nganhnghe table tr.title_candid{
background:none repeat scroll 0 0 DodgerBlue;
color:#FFFFFF;
font-weight:bold;
}

.css_nganhnghe table tr td.rc_{
color:#FFFFFF;
padding:3px;
}
.css_nganhnghe table tr td.rc_c{
padding:3px;
}
.css_nganhnghe table tr td.tenuv{
font-weight:bold;
text-align:left;
}
.css_nganhnghe table tr td.vdd{
text-align:left;
}
.css_nganhnghe table tr td{
padding:3px;
 
}
.button2-left a{
color:OrangeRed;
font-size:12px;
}
.button2-left a:hover{
color:#333;
}
 